<template name="CreateMeme">

  <div id="content-container">
    <canvas id="preview-canvas"></canvas>
    <input id="top-line" placeholder="Top text"><br />
    <input id="bottom-line" placeholder="Bottom text">




  <div id="save-button-container">
    <div id="bottom-panel-holder">

<div class="btn-group dropup">
  <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
    #{{ selectedCircle.name }} <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    {{#each circles}}
      <li><a class="circle-button" value="{{ _id }}">#{{ name }}</a></li>
    {{/each}}
  </ul>
</div>

        <button id="save-meme" class="btn"> 
            <i class="fa fa-4x fa-rocket"></i> 
        </button>
    </div>
  </div>
  </div>


</template>
