/*****************************************************************************/
/* CreateMeme: Style */
/*****************************************************************************/

#top-line, #bottom-line {
  padding: .5em;
  border: 1px solid #999;
  font: inherit;
}

#preview-canvas {
  display: block;
  margin: 1em auto;
}

#bottom-panel-holder {
  text-align: center;
  margin: 0.5em;
}

#save-meme {
  color: white;
  padding: 0.5em 2em;
  background-color: #3ba0ff;
}
