/*****************************************************************************/
/* MemeItem: Style */
/*****************************************************************************/

.meme-item {
}

.image{
  position: relative;
  overflow: hidden;
  padding-bottom: 75%;
}

.image img{
  position: absolute;
  border: 3px solid;
}
