/*****************************************************************************/
/* MemeItem: Style */
/*****************************************************************************/

.meme-item {
  padding: 1%;
  background: #fff;
  border: 1px solid #888;
}

.image{
  position: relative;
  overflow: hidden;
  padding-bottom: 75%;
}

.image img{
  position: absolute;
  border: 1px solid #aaa;
  -webkit-filter: contrast(1.4) saturate(0.8) sepia(.6);
  filter: contrast(1.4) saturate(1.8) sepia(.6);
}

.meme-info {
  padding: 10px 0 10px 0;
}

.meme-info-left {
  font-weight: bold;
  width: 50%;
  float: left;
}

.meme-info-right {
  width: 50%;
  float: right;
  text-align: right;
  color: #888;
}
