/*****************************************************************************/
/* MemesIndex: Style */
/*****************************************************************************/

#content-container {
  height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
}

#content-container .row {
  margin-bottom: 2%;
}

#button-container {
  height: 10%;
  padding: 0;
}

