/*****************************************************************************/
/* MemesIndex: Style */
/*****************************************************************************/

#content-container {
  height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
}

#button-container {
  height: 10%;
}

