/*****************************************************************************/
/* MemeItem: Style */
/*****************************************************************************/

.meme-item {
  background: gray;
}

.image{
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
}
.image img{
    position:absolute;
}
